body {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #23242C;
    padding: 10px;
}

.logo {
    color: white;
}

.logo-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    color: #ffcc00;
}

.execute-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.execute-btn:nth-of-type(3) {
    background-color: #a72828;
}

.editor,
.result {
    background-color: #1e1e1e;
    overflow-y: auto;
}

.editor {
    flex: 1;
    background-color: #1e1e1e;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
}

.code-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
}

.code-editor {
    width: 100%;
    background-color: #2B2C37;
    color: #AB880B;
    border: none;
    padding: 20px;
    font-family: monospace;
    font-size: 14px;
    resize: none;
    overflow-y: scroll;
    outline: none;
}

.line-numbers {
    background-color: #2B2C37;
    color: #AB880B;
    padding: 20px;
    text-align: right;
    user-select: none;
    overflow-y: hidden;
}

.editor textarea:focus {
    outline: none;
}

form {
    display: flex;
    width: 100%;
    height: auto;
}

h4 {
    font-size: 15px;
}

.result-title {
    display: flex;
    align-items: center;
    background-color: #757575;
    height: 10px;
    color: #ffcc00;
    padding: 10px;
}

.output {
    background-color: #272830;
    min-height: 320px;
    color: #d4d4d4;
    overflow-y: auto;
}

img {
    display: flex;
    height: 16px;
    width: 20px;
    object-fit: cover;
}

.buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #23242C;
}

li {
    list-style-type: none;
}

.container-edict {
    width: 80%;
    margin: auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: height 0.3s ease;
}