<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Editor</title>
</head>

<body>
    <div class="container-edict" id="edict-code">
        <header class="headers">
            <div class="logo">
                <h3 class="logo-title">VSUP</h3>
            </div>
            <div>
                <h3 class="title">Editor de código</h3>
            </div>
            <div class="buttons">
                <button class="execute-btn" id="execute-btn">Ejecutar</button>
                <button class="execute-btn" id="minimize-btn"><img src="../static/icons/minimizar.png" alt=""></button>
                <button class="execute-btn" id="close-btn"><img src="../static/icons/close.png" alt=""></button>
            </div>
        </header>

        <section class="editor" id="editor-section">
            <div class="code-container">
                <div class="line-numbers" id="line-numbers"></div>
                <textarea name="code" id="code-editor" class="code-editor"
                    oninput="updateLineNumbers()">{{ content }}</textarea>
            </div>
        </section>

        <section class="result" id="result-section">
            <div class="result-title">
                <h4>Resultados</h4>
            </div>
            <div class="output">
                {% if syntax_result %}
                {% for resultado, out, simbolo, linea in syntax_result %}
                <h1>{{ out }}</h1>
                {% endfor %}
                {% endif %}
            </div>
        </section>
    </div>

    <script>
        function updateLineNumbers() {
            const editor = document.getElementById('code-editor');
            const lineNumbers = document.getElementById('line-numbers');
            const lines = editor.value.split('\n').length;
            lineNumbers.innerHTML = Array.from({ length: lines }, (_, i) => `<div>${i + 1}</div>`).join('');
        }

        function syncScroll() {
            const editor = document.getElementById('code-editor');
            const lineNumbers = document.getElementById('line-numbers');
            lineNumbers.scrollTop = editor.scrollTop;
        }

        document.getElementById('code-editor').addEventListener('scroll', syncScroll);
        document.getElementById('code-editor').addEventListener('input', updateLineNumbers);

        // Inicializa los números de línea y sincroniza el scroll
        updateLineNumbers();
        syncScroll();

    </script>

</body>

</html>